body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  text-align: center;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background: linear-gradient(to left top, #e7ddf6, #8397d4);
}

.current-info {
  color: #ffffff;
  font-size: 18px;
  font-weight: 100;
  line-height: 20px;
  text-align: center;
}

.current-temperature {
  color: white;
  text-align: center;
  position: relative;
  top: 34px;
}
.current-temperature strong {
  font-size: 60px;
  font-weight: 400;
}

.current-temperature .units {
  position: relative;
  top: -30px;
}

.ul-wrapper {
  text-align: center;
}

.weather-details {
  display: inline-block;
  text-align: left;
  position: relative;
  top: 53px;
}

.extra-info {
  color: #ffffff;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
}

#city {
  font-weight: bold;
}

#weather-icon {
  text-align: center;
}

#icon {
  width: 90%;
  height: auto;
  vertical-align: top;
}
