body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  text-align: center;
  margin-bottom: 0;
}

h2 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 100;
  line-height: 20px;
  text-align: center;
  margin-bottom: 40px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-align: center;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #cae5e5;
  border-radius: 5px;
  background-color: #cae5e5;
}

#city {
  font-weight: bold;
}

#weather-illustration {
  text-align: center;
}
