body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fffbe2;
}

h1 {
  color: #272142;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  text-align: center;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #fffbe2;
  border-radius: 5px;
  background: #ffffff;
}

.form-control {
  background: #fffbe2;
  border-color: #fffbe2;
}

.btn-secondary {
  background-color: #e2c300;
  border-color: #e2c300;
  font-weight: bold;
}

.btn-secondary:hover {
  background-color: #ffffff;
  border-color: #e2c300;
  color: #e2c300;
  font-weight: bold;
}

.current-info {
  color: #8a8a8a;
  font-size: 18px;
  font-weight: 100;
  line-height: 20px;
  text-align: center;
}

.current-temperature {
  color: #272142;
  text-align: center;
  position: relative;
  top: 34px;
}
.current-temperature strong {
  font-size: 60px;
  font-weight: 400;
}

.current-temperature .units {
  position: relative;
  top: -30px;
}

.current-temperature .active {
  cursor: default;
}

.ul-wrapper {
  text-align: center;
}

.weather-details {
  display: inline-block;
  text-align: left;
  position: relative;
  top: 53px;
}

.extra-info {
  color: #8a8a8a;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
}

.value {
  color: #ff6d6d;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast {
  font-size: 16px;
  color: #8a8a8a;
}

.weather-forecast-temperatures {
  font-size: 13px;
  font-weight: 600;
  color: #ff6d6d;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.git-link {
  text-decoration: none;
  color: #e2c300;
}

.git-link:hover {
  color: #e2c300;
}

#city {
  font-weight: bold;
}

#weather-icon {
  text-align: center;
}

#icon {
  width: 90%;
  height: auto;
  vertical-align: top;
}
